.App {
  text-align: center;
}
body{
  /*  background-color:var(--main-background-color);*/
  margin:0;
font-family:Tahoma, sans-serif;
}
.intro {
max-height: 100vh;
overflow: hedden;
}
.video {
position: relative;
padding-bottom: 56.25%;
}
.video_media {
width: 100%;
height: auto;
position: absolute;
top:0;
left: 0;
}
