/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343a50;
  --card-background-color: #51576d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #f7d705;
  --title-text-color: #3cba8b;
}

body {
  background-color: var(--main-background-color);
  background: url('img/background.png');
  background-size: cover; 

  margin: 0;
  font-family: 'Mexon','Mexon', Arial, sans-serif;
  font-size:  16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #f7d705;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}
.font-mexon {
  font-family: 'Mexon', sans-serif !important;
}
.cursor-pointer p {
  font-family: 'Mexon', sans-serif !important;  
}

.text-4xl {
  font-family: 'Mexon', sans-serif !important;
}